.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 60;

  height: 56px;
  padding: 0 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgb(11, 16, 20);
  border-top: 1px solid rgb(31, 41, 55);
}

/* BOTÕES BASE */
.nav-btn {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;

  color: #fff;
}

/* ÍCONES */
.nav-btn img {
  width: 24px;
  height: 24px;
  display: block;
}

/* PERFIL */
.nav-btn.profile img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

/* + CENTRAL */
.nav-plus {
  font-size: 33px;
  font-weight: 200;
  line-height: 1;       /* ISSO CORRIGE O “TORTO” */
}
