.direct-messages-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 16px;
  margin-top: 14px; /* antes estava baixo */
}


.direct-messages-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #f9f9f9;
}

.direct-messages-requests {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(81, 122, 255);
  cursor: pointer;
}
